
.login-button {
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
  width: 100%;
}

.login-container {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, hsl(var(--primary)), hsl(var(--accent)));
  border-radius: 0.9em;
  transition: all 0.4s ease;
  width: 100%;
}

.login-container::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -1;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.login-container:hover::before {
  background: linear-gradient(90deg, hsl(var(--primary)), hsl(var(--accent)));
  filter: blur(1.2em);
}
.login-container:active::before {
  filter: blur(0.2em);
}

/* Styles for the nav button to be less intrusive */
.login-container-nav {
  position: relative;
  padding: 2px;
  background: linear-gradient(90deg, hsl(var(--primary)), hsl(var(--accent)));
  border-radius: 0.5em; /* Match button's default rounded-md */
  transition: all 0.4s ease;
}
.login-container-nav::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.5em;
  z-index: -1;
  filter: blur(0);
  transition: filter 0.4s ease;
}
.login-container-nav:hover::before {
  background: linear-gradient(90deg, hsl(var(--primary)), hsl(var(--accent)));
  filter: blur(0.8em);
}
.login-container-nav:active::before {
  filter: blur(0.2em);
}
.login-button-nav {
   background-color: hsl(var(--background));
}
